body{
    background-color: rgb(14, 14, 48);
    margin: 0px;
}

p{
    user-select: none;
}

img{
    user-select: none;
}

.top-bar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(6, 6, 37);
    z-index: 1000;
}
.top-bar-2{
    gap: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* max-width: 2000px; */
}

.top-bar-2-1{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}

.top-bar-2-img{
    width: 50px;
}

.top-bar-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.top-bar-3-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding: 5px 10px;
    border-radius: 10px;
}

.top-bar-p{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0px;
}
.top-bar-3-img{
    width: 25px;
}

.top-bar-search-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.top-bar-search{
    width: 250px;
    padding: 7px 0px 7px 15px;
    border: 1px solid rgb(4, 0, 255);
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(18, 98, 173, 0.397);
    color: white;
}

input::placeholder{
    color: white;
    font-size: 13px;
    opacity: 0.5;
}

.top-bar-search-img{
    width: 30px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.home{
    padding: 50px 0px;
}

.home-img-div{
    width: 100%;
    position: relative;
}

.home-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* .home-img-2{
    width: 70px;
}

.home-img-p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgb(202, 224, 0);
    font-size: 70px;
    rotate: calc(-20deg);
    top: 20px;
    left: 40px;
    padding: 20px;
    border-radius: 20px;
} */

.categories-div{
    padding: 10px 40px;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.categories-1{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.384);
    border: 1px solid rgba(3, 7, 231, 0.801);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.categories-1:hover{
    transform: scale(1.1);
}

.active{
    transform: scale(1.1);
    background-color: rgba(4, 47, 187, 0.281);
    box-shadow: 0 5px 30px rgba(38, 0, 255, 0.603)
}
.active-2{
    transform: scale(1.1);
    /* background-color: rgba(4, 47, 187, 0.281); */
    box-shadow: 0 5px 30px rgb(4, 47, 187);
}

.hidden{
    display: none;
}

.home-div-1{
    display: grid;
    grid-template-columns: repeat(4, minmax(300px,1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); */
    gap: 30px;
    padding:15px 30px 0px 30px;
}
    

.home-div-2{
    /* width: 100%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    gap: 10px;
}
.home-div-2:hover{
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(7, 17, 109, 0.747);
}

.card-img-1{
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

.card-p-a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.card-p-a-1-1{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-self: center;
}

.card-p-a-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    padding: 1px 8px;
    width: fit-content;
    gap: 5px;
}
.card-p-a-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-p-a-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.card-p-a-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-p-1{
    font-size: large;
    color: white;
    margin: 10px 0 10px 0;
}

.cp1{
    /* width: 100%; */
}

.card-p-last{
    background-color: rgba(119, 16, 253, 0.534);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.card-p-last:hover{
    transform: scale(1.06);
}

.card-p-1-title{
    font-size: 26px;
    color: rgb(179, 255, 0);

}

.wishlist-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.466);
  width: fit-content;
  border-radius: 20px;
  padding: 20px 20px;
}

.wishlist-icon {
  width: 32px;
  height: 32px;
}

.buy-msg {
  color: rgb(0, 225, 255);
  font-size: 30px;
  margin: 0px;
}



/* one by one appear animation */

@keyframes fadeUp {
    from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.game-card {
    opacity: 0;
    animation: fadeUp 0.5s ease forwards;
}

/* */

.recommendations-wrapper {
    position: relative;
}

.recommendations-modal {
    position: absolute;
    top: calc(100% + 20px);
    left: -420px;
    background-color: rgba(0, 0, 0, 0.178);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: max-content;
    z-index: 1000;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.recommendations-modal.hidden {
    display: none;
}

/* */

/* game info modal */
.game-details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 15px;
    /* transform: translateY(100%); */
    transform: translateY(10%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 1000;
    height: 95%;
}

.game-details.show {
    transform: translateY(0);
    opacity: 1;
}

.game-details-2{
    background-color: rgba(0, 119, 255, 0.301);
    padding: 1px 10px;
    border-radius: 0px 0px 10px 10px;
    height: 65%;
}

.details-title {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.details-desc {
    color: rgb(24, 162, 172);
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
    font-size: 18px;
    /* background-color: #0000001e; */
    padding: 15px 0px;
    border-radius: 10px;
}

.details-copiessold{
    /* color: rgb(233, 218, 7); */
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #00000054;
    padding: 10px 0px;
    border-radius: 10px;
}

.details-close {
    color: #ff5252;
    cursor: pointer;
    justify-self: center;
    width: max-content;
    transition: transform 0.3s ease-in-out;
}
.details-close:hover{
    transform: scale(1.2);
}

/* view details video */

/* .game-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #1a2a57fa;
    width: 90%;
    max-width: 800px;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    animation: slideUp 0.4s ease;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.hidden {
    display: none;
} */

.modal-video {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    user-select: none;
}

/* .modal-close {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}
.modal-close:hover{
    transform: scale(1.2);
}

.modal-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.modal-title{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px 0px;
} */

/**/

@media (max-width:720px) {
    .home-div-1{  
    grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
    }

    .home-div-2{
    /* width: 100%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    gap: 10px;
    }

    .card-p-1{
    font-size: 10px;
    margin: 5px 0px;
    }

    .ao{
        font-size: 8px;
    }
    .card-p-last{
    font-size: 8px;
    padding: 5px 5px;
    }

    .top-bar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(6, 6, 37);
    z-index: 1000;
    padding-bottom: 10px;
    }
    .top-bar-2{
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* max-width: 2000px; */
    }

    .top-bar-2-1{
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 30px;
    }


    .top-bar-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    }

    .top-bar-3-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .top-bar-p{
        color: white;
        font-weight: bold;
        font-size: 1rem;
        margin: 0px;
    }
    .top-bar-3-img{
        width: 25px;
    }

    .top-bar-search{
        width: 200px;
        padding: 7px 0px 7px 15px;
        border: 1px solid rgb(4, 0, 255);
        border-radius: 5px 5px 5px 5px;
        background-color: rgba(18, 98, 173, 0.397);
        color: white;
    }

    /* .home{
    padding: 50px 0px;
    margin-top: 190px;
    } */

    .recommendations-modal {
        display: none;
    }

    .top-bar-p-recommendations{
        display: none;
    }




    .game-details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 10px;
    /* transform: translateY(100%); */
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 1000;
    height: 95%;
}

.game-details-2{
    background-color: rgba(0, 119, 255, 0.301);
    padding: 1px 10px;
    border-radius: 0px 0px 10px 10px;
    height: 65%;
}

.details-title {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.details-desc {
    color: rgb(24, 162, 172);
    font-size: 8px;
    padding: 5px;
    border-radius: 10px;
}

.details-copiessold{
    /* color: rgb(233, 218, 7); */
    color: white;
    text-align: center;
    font-size: 8px;
    background-color: #00000054;
    padding: 10px 0px;
    border-radius: 10px;
}

.details-close {
    color: #ff5252;
    cursor: pointer;
    justify-self: center;
    width: max-content;
    transition: transform 0.3s ease-in-out;
}

.card-img-1{
    width: 100%;
    height: max-content;
    object-fit: contain;
    border-radius: 10px;
}

}